ol { list-style: decimal; }

ul ul { font-size: 100%; }

.navbar-brand {
  display: inline-block;
  margin-bottom: 3.0rem;
  font-weight: 700;
 }

.pagination { list-style: none; }

.pagination li {
  display: inline-block;
  margin-right: 2.0rem;
}

.pagination li:last-child { margin-right: 0; }

.story { display: inline-block; }

.story-title { display: inline-block; }

.comments-title { margin-top: 1.0rem; }

.comments-list { list-style-type: none; }

.text-muted { color: #999; }
